.theme{
.register{
    height: 100vh;
    background-color: rgb(193,190, 255);
    display: flex;
    align-items: center;
    justify-content: center;

    .card { display: flex;
        flex-direction: row-reverse;
        overflow: hidden;
        width: 50%;
        border-radius: 10px;
        background-color: white;
        min-height: 600px;
        .left{

            background: linear-gradient(rgba(39,11,96,0.5),rgba(39,11,96,0.5)), url("https://c.pxhere.com/photos/cd/ca/person_hiker_peak_summit_top_adventure_sunrise_lifestyle-680931.jpg!d") center;
            background-size: cover;
            padding: 50px;
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: white;
            
            h1{
                font-size: 100px;
                line-height: 100px;
            }
            p{}
            span{ font-size: 14px;}
            button{
                width: 50%;
                padding: 10px;
                border: none;
                border-color: white;
                color: rebeccapurple;
                font-weight: bold;
                cursor: pointer;
            }
        }
        .right{ flex: 1;
            padding: 50px;
            gap: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1{color:#555;}
            form{ display: flex;
                flex-direction: column;
                gap: 30px;
                input{
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;
                }
                button{
                    width: 50%;
                    padding:10px;
                    border: none;
                    background-color: #938eef;
                    color: white;
                    font-weight: bold;  
                    cursor: pointer;

                }
            }
        }
    }
}}